/* ======= Global styling ======= */

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-weight: 500;
  padding: 0;
}

window#waybar,
tooltip {
  background-color: @base00;
  color: @base05;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 5px;
}

window#waybar>box {
  margin: 0 10px;
}

tooltip label {
  padding: 5px;
  color: @base05;
}

window#waybar.hidden {
  opacity: 0.5;
}

/* ============================== */

/* ===== Generic: Modules ======= */

.module {
  border-radius: 5px;
  padding: 0;
  margin: 0;
}

/* ============================== */

/* ===== Module: WorkSpaces ===== */

#workspaces {
  background-color: transparent;
  /* padding: 0px 15px; */
}

#workspaces button {
  all: initial;
  /* Remove GTK theme values (waybar #1351) */
  min-width: 0;
  /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  margin: 10px 5px;
  color: @base05;
  font-size: 18px;
}


#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.urgent {
  color: @base08;
}

/* ============================== */

/* ======= Module: Submap ======= */

#submap {
  color: @base0B;
}

/* ============================== */

/* ======= Module: Power ======== */

#custom-power,
#custom-quit,
#custom-reboot,
#custom-lock {
  font-size: 16px;
  min-width: 18px;
}

#custom-quit,
#custom-reboot,
#custom-lock {
  margin-right: 5px;
  padding: 0 2px;
}

#group-power {
  margin-right: 10px;
  /* padding: 0 15px; */
}

/* ============================== */

/* ======= Module: Idle Inhibitor ======== */

#privacy {
  margin-right: 10px;
  background-color: @base08;
  color: @base00;
  margin: 8px 0;
  padding: 0 8px;
  border-radius: 5px;
}

/* ============================== */

/* ======= Module: Idle Inhibitor ======== */

#idle_inhibitor {
  font-size: 16px;
}

#group-hardware,
#group-tray,
#clock {
  background-color: @base01;
  margin: 8px 0;
  padding: 0 8px;
  border-radius: 5px;
}

#group-tray .module {
  padding: 0 8px;
  /* border: 1px solid white; */
}

#custom-cpu,
#custom-gpu {
  margin-right: 10px;
}

#custom-cpu.normal,
#custom-gpu.normal,
#custom-ram.normal {
  color: @base0B;
}

#custom-cpu.medium,
#custom-gpu.medium,
#custom-ram.medium {
  color: @base0A;
}

#custom-cpu.high,
#custom-gpu.high,
#custom-ram.high {
  color: @base08;
}